{% extends "inv/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Add Item</legend>
                {{ form.name|as_crispy_field }}
                <label for="type">Type:</label>
                <select name="type" id="type" class="form-select">
                    <option value="Kitchen">Kitchen</option>
                    <option value="Living Room">Living Room</option>
                    <option value="Bathroom">Bathroom</option>
                    <option value="Bedroom">Bedroom</option>
                    <option value="Outdoor">Outdoor</option>
                </select>
                {{ form.num|as_crispy_field }}
                {{ form.desc|as_crispy_field }}
            </fieldset>
            <div>
                <button class="btn btn-outline-info mt-3" type="submit">Add Item</button>
            </div>
        </form>
    </div>
{% endblock content %}